
body{
  margin: 0;

}
#earth-container{
  border: darkblue solid 2px;
}
.tempo{
  position: absolute;
  bottom: 15%;
  left: 3%;
  width: 12vh;
  padding: 10px 20px;
  background-color: #1e90ff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.tempo2{
  position: absolute;
  bottom: 20%;
  left: 2.5%;
  width: 15vh;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.input{
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 10px 20px;
  background-color: #1e90ff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.flex-container{
  display: flex;
}

.caixa-lateral{

  background-color: black;
  width: 15%;
  height: 100vh;
} 

.select-Planet-btn {
  position: absolute;
  top: 11%;
  left: 3%;
  z-index: 10;
  padding: 10px 20px;
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para o botão de reset */
#reset-camera-btn {
  position: absolute;
  bottom: 5%;
  left: 3%;
  z-index: 10;
  padding: 10px 20px;
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reset-camera-btn:hover {
  background-color: #1c7ed6;
}

/* Estilo para a caixa de informações */
#info-box {
  position: fixed;
  left: 33vh;
  right: 2vh;
  bottom: 2vh;
  width: 170vh;
  height: 30vh;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid blue;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Arial', sans-serif;
  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  
}

#info-box.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Estilos adicionais para o conteúdo */
#info-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffdd00; /* Cor do título */
}

#info-box p {
  margin: 5px 0;
  font-size: 14px;
}

#info-box p strong {
  color: #1e90ff; /* Destaque nos textos */
}


